.bodyAll{
    background-color: black;

}
.mainOnly {
    min-height: 40vh;
}

.headerOne {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    font-size: 70px;
    padding: auto;
    background: linear-gradient(to right,green, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 4px 3px black; */
    /* margin-top: 10%;     */
}
.parrafoGif{
    padding: auto;
    text-align: center;
}